@charset "UTF-8";
:root {
  --color-page: #757575;
  --title-color: #212121;
  --whitу-color: #ffffff;
  --whity-color-back: #f5f4fa;
  --color-second: #2f303a;
  --color-footer: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
  --but: #188ce8;
  --wigth-pege: 1200px;
  --lateral-padding: 15px;
  --icon-fill: #afb1b8;
  --bak-color-mak: rgba(47, 48, 58, 0.8);
  --color-taxt-footer: rgba(255, 255, 255, 0.6);
  --color-logo-header: #000;
}

.ninja {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  color: var(--color-page);
  font-family: 'Roboto', sans-serif;
}

.preference-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.preference-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}

.flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-list__item:not(:last-child) {
  margin-right: 30px;
}

.button {
  min-width: 200px;
  min-height: 50px;
  color: var(--whitу-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  cursor: pointer;
  background-color: var(--but);
}

.hero {
  display: block;
  background-color: var(--color-second);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bacgraund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__box {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--whitу-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.preference-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .preference-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.preference-list__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .preference-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .preference-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.preference-list__icon {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--whity-color-back);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.preference-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}
/*# sourceMappingURL=main.css.map */