@charset "UTF-8";
:root {
  --color-page: #757575;
  --title-color: #212121;
  --whitу-color: #ffffff;
  --whity-color-back: #f5f4fa;
  --color-second: #2f303a;
  --color-footer: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
  --but: #188ce8;
  --wigth-pege: 1200px;
  --lateral-padding: 15px;
  --icon-fill: #afb1b8;
  --bak-color-mak: rgba(47, 48, 58, 0.8);
  --color-taxt-footer: rgba(255, 255, 255, 0.6);
  --color-logo-header: #000;
}

.ninja {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  color: var(--color-page);
  font-family: 'Roboto', sans-serif;
}

.preference-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.preference-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .flex-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .flex-list__item {
    margin: 15px;
  }
}

.button {
  min-width: 200px;
  min-height: 50px;
  color: var(--whitу-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  cursor: pointer;
  background-color: var(--but);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title.big {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  margin-bottom: 50px;
}

.portfolio .title {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent);
}

.hovers {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hovers:hover, .hovers:focus {
  color: var(--accent);
  fill: var(--accent);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  max-width: 530px;
  min-height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  fill: var(--accent);
}

.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
}

/* Форма */
.form-title {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form-modal__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-modal__input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus-within {
  border: 1px solid var(--accent);
}

.form-modal__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus-within ~ .form-modal__icon {
  fill: var(--accent);
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus-within {
  border: 1px solid var(--accent);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox__label {
  margin-left: 8.38px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-checkbox__link-contract {
  color: var(--accent);
  text-decoration: underline;
}

.form-checkbox__icon {
  width: 16px;
  height: 15px;
  border: 3px solid var(--title-color);
  fill: white;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__input:checked + .form-checkbox__icon {
  background-color: var(--accent);
  border: none;
}

.form-checkbox__input {
  appearance: none;
}

.form-modal__button {
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero {
  display: block;
  background-color: var(--color-second);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bacgraund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__box {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--whitу-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.preference-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .preference-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.preference-list__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .preference-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .preference-list__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 768px) {
  .preference-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.preference-list__icon {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--whity-color-back);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.preference-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services__sektion {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services__box {
  position: relative;
}

.services__img {
  display: block;
  width: 100%;
  height: auto;
}

.services__nam {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitу-color);
  background-color: var(--bak-color-mak);
}

.workers {
  background-color: var(--whity-color-back);
}

.workers__section {
  padding: 94px var(--lateral-padding) 94px;
}

.workers__item {
  padding-bottom: 30px;
  background-color: var(--whitу-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
}

@media screen and (max-width: 768px) {
  .workers__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .workers__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .workers__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.workers__img {
  display: block;
  width: 100%;
}

.workers__info {
  padding-top: 30px;
  text-align: center;
}

.workers__nam {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.workers__profession {
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item {
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__item:hover, .social-networks__item:focus {
  background-color: var(--accent);
  border-radius: 50%;
}

.social-networks__icon {
  padding: 12px;
  fill: var(--icon-fill);
  width: 44px;
  height: 44px;
}

.social-networks__icon:hover, .social-networks__icon:focus {
  fill: var(--whitу-color);
}

@media screen and (max-width: 768px) {
  .partners__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.partners__item {
  max-width: 210px;
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);
}

@media screen and (min-width: 768px) {
  .partners__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__item {
    width: 170px;
  }
}

.partners__icon {
  display: flex;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  color: var(--icon-fill);
  fill: currentColor;
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__icon:hover, .partners__icon:focus {
  border-color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
}

.partners__box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: var(--color-second);
}

.box-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .box-footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .box-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .box-footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.logo-footer {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .logo-footer {
    text-align: center;
    display: block;
  }
}

.logo-footer__text {
  color: var(--whitу-color);
}

.stage-property__list {
  margin: 0px;
  color: var(--color-footer);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1200px) {
  .stage-property__list {
    text-align: center;
  }
}

.stage-property__item:not(:last-child) {
  margin-bottom: 9px;
}

.stage-property__link {
  display: block;
  color: var(--whitу-color);
  text-decoration: none;
  color: var(--color-taxt-footer);
}

.stage-property__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--whitу-color);
}

.number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.networks-footer {
  color: var(--whitу-color);
}

@media screen and (min-width: 768px) {
  .networks-footer {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .networks-footer {
    margin-left: 70px;
  }
}

.networks-footer__list {
  display: flex;
}

.networks-footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .footer-title {
    text-align: center;
  }
}

.networks-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: var(--whitу-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-footer__link:hover, .networks-footer__link:focus {
  background-color: var(--accent);
}

.form-footer {
  color: var(--whitу-color);
}

@media screen and (max-width: 480px) {
  .form-footer {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 93px;
  }
}

.form-footer__input {
  min-height: 50px;
  width: 100%;
  padding: 15px 16px;
  color: var(--whitу-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 480px) {
  .form-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

@media screen and (max-width: 1200px) {
  .form-footer__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__box {
    display: flex;
  }
}

.form-footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .form-footer__btn {
    margin-left: 12px;
  }
}

.form-footer__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .header-sectios,
  .header-nav__list,
  .contacts-list,
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-sectios {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.logo--black {
  color: var(--color-logo-header);
}

@media screen and (min-width: 768px) {
  .mobil-menu {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header-nav {
    margin-bottom: 210px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}

@media screen and (max-width: 768px) {
  .header-nav__item:not(:first-child) {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .line {
    position: relative;
  }
  .line::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent);
  }
}

.header-nav__link {
  display: block;
  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts-list__ling {
  color: var(--color-page);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 768px) {
  .contacts-list__icon {
    display: none;
  }
}

.header__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contacts-list {
    margin-bottom: 64px;
  }
  .mobil-menu {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 48px 40px;
    background-color: #ffffff;
    transition: transform 250ms linear;
  }
  .mobil-menu.is-open {
    transform: translateX(0);
  }
  .mobil-menu--number {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .mobil-menu--number {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .mobil-menu__list {
    display: flex;
  }
  .mobil-menu_link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .mobil-menu_link {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .mobil-menu_link {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobil-menu_link--retreat {
    padding-left: 0px;
  }
  .mobil-menu_link--line {
    border-right: none;
  }
}

@media screen and (min-width: 768px) {
  .mobil-menu__list {
    display: none;
  }
}

.ganaral {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-buttom {
  display: flex;
  margin-bottom: 50px;
  justify-content: left;
  flex-wrap: wrap;
  margin: -8px;
}

.list-buttom__item {
  margin: 8px;
}

.list-buttom__btn {
  border-radius: 4px;
  min-height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--whity-color-back);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-buttom__btn:hover, .list-buttom__btn:focus {
  color: var(--whitу-color);
  background-color: var(--accent);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -15px;
}

.portfolio-list__item {
  border: 1px solid #eeeeee;
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-product__description {
  padding: 20px 24px;
  text-align: left;
}

.card-product__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-page);
}

.card-product__box {
  position: relative;
  overflow: hidden;
}

.card-product__img {
  width: 100%;
}

.card-product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(110%);
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list__item:hover .card-product__overlay,
.portfolio-list__item:focus .card-product__overlay {
  transform: translate(0);
}
/*# sourceMappingURL=main.css.map */