.header-sectios,
.header-nav__list,
.contacts-list,
.header-nav {
  @media screen and (min-width: $second-shift) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-sectios {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.logo--black {
  color: var(--color-logo-header);
}

.mobil-menu {
  @media screen and (min-width: $second-shift) {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  @media screen and (max-width: $second-shift) {
    margin-bottom: 210px;
  }
  @media screen and (min-width: $second-shift) {
    margin-left: 88px;
  }
}

.header-nav__item:not(:first-child) {
  @media screen and (max-width: $second-shift) {
    margin-top: 32px;
  }
  @media screen and (min-width: $second-shift) {
    margin-left: 50px;
  }
}
@media screen and (min-width: $second-shift) {
  .contacts-list {
    display: block;
    margin-left: 84px;
    @media screen and (min-width: $second-shift) and (max-width: $third-shift) {
      &__item:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: $third-shift) {
      &__item:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}
.contacts-list {
  @media screen and (min-width: $third-shift) {
    display: flex;
  }
}

@media screen and (min-width: $second-shift) {
  .line {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;

      display: block;
      content: '';
      height: 4px;
      width: 100%;
      border-radius: 2px;

      background-color: var(--accent);
    }
  }
}

.header-nav__link {
  display: block;
  @media screen and (min-width: $second-shift) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.contacts-list__ling {
  color: var(--color-page);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
}

.contacts-list__icon {
  @media screen and (max-width: $second-shift) {
    display: none;
  }
  margin-right: 10px;
  fill: currentColor;
}

.header__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;

  background-color: map-get($colors, 'whitу');
  @media screen and (min-width: $second-shift) {
    display: none;
  }
}
@media screen and (max-width: $second-shift) {
  .contacts-list {
    margin-bottom: 64px;
  }
  .mobil-menu {
    display: flex;
    flex-direction: column;
    z-index: 15;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 48px 40px;
    background-color: map-get($colors, 'whitу');
    transition: transform 250ms linear;
  }

  .mobil-menu.is-open {
    transform: translateX(0);
  }

  .mobil-menu--number {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-bottom: 32px;
    @media screen and (min-width: $first-shift) {
      font-size: 34px;
    }
  }

  .mobil-menu__list {
    display: flex;
  }

  .mobil-menu_link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: map-get($colors, 'accent');
    @media screen and (min-width: $first-shift) {
      font-size: 18px;
    }
  }

  .mobil-menu_link {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobil-menu_link--retreat {
    padding-left: 0px;
  }

  .mobil-menu_link--line {
    border-right: none;
  }
}

@media screen and (min-width: $second-shift) {
  .mobil-menu__list {
    display: none;
  }
}
