.hero {
  display: block;
  background-color: var(--color-second);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header-bacgraund.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__box {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--whitу-color);

  @media screen and (min-width: $first-shift) {
    font-size: 26px;
  }
  @media screen and (min-width: $third-shift) {
    font-size: 44px;
    line-height: 1.36;
  }
}
