.workers {
  background-color: var(--whity-color-back);
}

.workers__section {
  padding: 94px var(--lateral-padding) 94px;
}

.workers__item {
  padding-bottom: 30px;
  background-color: var(--whitу-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  max-width: 450px;
  @media screen and (max-width: $second-shift) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $second-shift) {
    width: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: $third-shift) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.workers__img {
  display: block;
  width: 100%;
}

.workers__info {
  padding-top: 30px;
  text-align: center;
}

.workers__nam {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.workers__profession {
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item {
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent);
    border-radius: 50%;
  }
}

.social-networks__icon {
  padding: 12px;
  fill: var(--icon-fill);
  width: 44px;
  height: 44px;
  &:hover,
  &:focus {
    fill: var(--whitу-color);
  }
}
