.button {
  display: flex;
  align-items: center;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;

  color: var(--whitу-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
  background-color: var(--accent);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    background-color: var(--but);
  }
}
