.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 479px) {

  }
}

.flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-list__item:not(:last-child) {
  margin-right: 30px;
}
