.page {
  color: var(--color-page);

  font-family: 'Roboto', sans-serif;
}

%text-first {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

%text-second {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

%text-third {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

%text-fourth {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
