:root {
  --color-page: #757575;
  --title-color: #212121;
  --whitу-color: #ffffff;
  --whity-color-back: #f5f4fa;
  --color-second: #2f303a;
  --color-footer: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
  --but: #188ce8;
  --wigth-pege: 1200px;
  --lateral-padding: 15px;
  --icon-fill: #afb1b8;
  --bak-color-mak: rgba(47, 48, 58, 0.8);
  --color-taxt-footer: rgba(255, 255, 255, 0.6);
  --color-logo-header: #000;
}
